<div class="col-4 bg-primary mx-auto card card-primary m-2 p-2">
  <h4>View by product Id</h4>
</div>
<div class="col-10 mx-auto p-2 m-2">
  <input type="number" placeholder="Enter Product Id" [(ngModel)]="prodId" class="form-control">
  <input type="button" value="Search" (click)="viewbyprodId()" class="btn btn-info">
  </div>
  <section>
    <div *ngIf="msg!=undefined" class="alert alert-danger">{{msg}}</div>
    <table class="table table-primary table-stripped table-hover" *ngIf="prods!=undefined">
      <tr>
        <td>Product code</td>
        <td>{{prods.code}}</td>
      </tr>
      <tr>
        <td>Product Name</td>
        <td>{{prods.name}}</td>
      </tr>
      <tr>
        <td>Product price</td>
        <td>{{prods.price}}</td>
      </tr>
      <tr>
        <td>Product Image</td>
        <td>{{prods.image}}</td>
      </tr>
      <tr>
        <td>Create Date</td>
        <td>{{prods.createdate}}</td>
      </tr>
      <tr>
        <td>Category Id</td>
        <td>{{prods.category.categoryId}}</td>
      </tr> 
      <tr>
        <td>Category Name</td>
        <td>{{prods.category.categoryName}}</td>
      </tr>
      <tr>
        <td>Stock</td>
        <td>{{prods.stock}}</td>
      </tr>
    </table>
  </section>