<div class="col-5 bg-primary mx-auto card card-primary m-2 p-2">
  <h2>View all category</h2>
</div>
  <section >
    <table class=" col-5 mx-auto table table-dark table-stripped table-hover" *ngIf="cat!=undefined">
     
      <tr>
        <td>Category Id</td>
        <td>Category Name</td>
      </tr> 
      <tr *ngFor="let c of cat">
        <td>{{c.categoryId}}</td>
        <td>{{c.categoryName}}</td>
        <td><button class="btn btn-info" style="float: right;" routerLink="viewall/viewbycategoryname/{{c.categoryName}}" >View Products</button></td>
      </tr>
    </table>
  </section>