<header class="col-10 mx-auto bg-light">
  <h1 class="text-center">ELECTRONICS SHOP</h1>
</header>
<section class="col-10 mx-auto">
  <ul class="nav nav-pills bg-primary text-white">
    <li class="nav-item">
      <a class="nav-link text text-white">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTS</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"  routerLink='addproducts'>Add Products</a>
        <!-- <a class="dropdown-item"  routerLink='viewbycategoryname'>View By Category Name</a> -->
        <a class="dropdown-item"  routerLink='viewbyproductId'>View By Product Id</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"  routerLink='addcategory'>Add Category</a>
        <a class="dropdown-item"  routerLink='viewall'>View all Categories</a>
      </div>
    </li>
  </ul>
</section>
<article class="col-10 mx-auto">
  <router-outlet></router-outlet>
</article>

