<div class="col-4 bg-primary mx-auto card card-primary m-2 p-2">
   <h4>View by category name</h4>
</div>
<div class="col-6 mx-auto p-2 m-2">
   <input type="string" placeholder="Enter Category Name" [(ngModel)]="catName" class="form-control" required readonly>
   <input type="button" value="Search" (click)="viewbycatName()" class="btn btn-info">
</div>
<!-- <section> -->
    <div *ngIf="msg!=undefined" class="alert alert-danger col-11 mx-auto">{{msg}}</div>
    <table class=" mx-auto table table-dark table-stripped table-hover " *ngIf="prods.length>0">
      <tr>
        <th>Product Id</th>
        <th>Product code</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Create Date</th>
        <th>Category Name</th>
        <th>Stock</th>
        <th>Specification</th>
        <th >Add-to-cart</th>
      </tr>
      <tr *ngFor="let p of prods">
        <td>{{p.productID}}</td>
        <td>{{p.code}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price | currency:'INR'}}</td>
        <td >
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" height="160px" width="230px" alt="AC">
        </td>
        <td>{{p.createdate | date:'dd/MMM/yyyy'}}</td>
        <td>{{p.category.categoryName}}</td>
        <td>{{p.stock}}</td>
        <td><button class="btn btn-info" style="float: right;" routerLink="" >Specification</button></td>
        <td colspan="2"><button class="btn btn-primary" style="float: right;" routerLink="" ><b>+Cart</b></button></td>

      </tr>
    </table>
  <!-- </section> -->